@font-face {
	font-family: 'RobotoCondensed-Regular';
	src: url('fonts/RobotoCondensed-Regular.eot');
	src: local('вє'), url('fonts/RobotoCondensed-Regular.woff') format('woff'), url('fonts/RobotoCondensed-Regular.ttf') format('truetype'), url('fonts/RobotoCondensed-Regular.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'RobotoCondensed-Italic';
	src: url('fonts/RobotoCondensed-Italic.eot');
	src: local('вє'), url('fonts/RobotoCondensed-Italic.woff') format('woff'), url('fonts/RobotoCondensed-Italic.ttf') format('truetype'), url('fonts/RobotoCondensed-Italic.svg') format('svg');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Roboto-Italic';
	src: url('fonts/Roboto-Italic[1].eot');
	src: local('вє'), url('fonts/Roboto-Italic[1].woff') format('woff'), url('fonts/Roboto-Italic[1].ttf') format('truetype'), url('fonts/Roboto-Italic[1].svg') format('svg');
	font-weight: normal;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('fonts/Roboto-Regular[1].eot');
	src: local('вє'), url('fonts/Roboto-Regular[1].woff') format('woff'), url('fonts/Roboto-Regular[1].ttf') format('truetype'), url('fonts/Roboto-Regular[1].svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: darkgrey;
  font-family: 'RobotoCondensed-Regular';
  
}
.container {
  width: 375px;
  height: 708px;
  background-color: #ffffff;
  margin: 0 auto;
  overflow: hidden;
}

.product {
  width: 262px;
  display: flex;
  justify-content: space-between;
  margin:29px auto 30px  auto;
}

.product-name {
  font-size: 35px;
  line-height: 32px;
  margin-bottom: 20px;
}
.prod-brif {
  font-family: 'Roboto-Regular';
  font-size: 11px;
  line-height: 10px;
  color: #596273;
}

.img {
  border-radius: 13px;
  margin: 0 auto;
}

.imgcont {
  margin-top: 11px;
}

.carousel {
  height: 306px;
  width: 606px;
  display: flex;
  margin-left: -142.5px;
  position: relative;
}

.product-img {
  margin: 17px auto 0px;
  width: 230px;
  height: 289px;
  display: flex;
  background: #F6F6F8;
  border-radius: 14px;
  position: relative;
}

.check-button {
  position: absolute;
  margin: -6px -6px;
  display: inline-block;
  left: 95%;
  top: 18px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.check-button:hover {
  transform: scale(1.1);
}

.add-product {
  margin: 10px auto 36px;
  width: 217px;
  height: 53px;
  background-color: #F6F6F8;
  border-radius: 33px;
  display: flex ;
}

.add-product .help-text,
.add-product .add-button{
  font-size: 13px;
  color: #979AA1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.add-product .add-button {
  color: #979AA1;
  background-image: url("./img/Vector.svg");
  background-repeat: no-repeat;
  background-position: 10px center;
}

.price {
  font-family: 'Roboto-Regular';
  color: #252C3B;
  font-size: 35px;
  line-height: 32px;
  text-align: center;
}

.buy-button {
  width: 219px;
  height: 49px;
  background-color: #FF416E;
  border-radius: 10px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto 0;
  font-family: 'Roboto-Regular';
  font-size: 14px;
}

.inner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  margin: 14px auto 22px;

}

.small-text {
  width: 168px;
  height: 10px;
  font-size: 10px;
  line-height: 9px;
  color:#8F98A8;
  font-family: 'Roboto-Regular';
  margin-right: 6px;
  
}

.back-button {
  position: absolute;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.3s;
  transition-property: transform;
}

.back-button:hover {
  transform: scale(1.1);  
}

.buttons {
  margin-left: 40%;
}
.arrow-prev, .arrow-next {
  border-radius: 5px;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.1s;
  transition-property: transform;
}
.arrow-prev:hover, .arrow-next:hover {
  transform: scale(1.09);
}

/*cartscreen*/

.header {
  display: flex;
  justify-content: space-between;
  height: 28px;
  width: 293px;
  margin: 21px 0 0 51px;
}

.order {
  font-size: 20px;
  line-height: 19px;
}

.quantity {
  font-size: 13px;
  line-height: 12px;
  width: 100px;
  height: 28px;
  border: 0.5px solid #596273;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4C5669;
}

.item , .item-next {
  width: 351px;
  height: 77px;
  margin: 27px 0 0 12px;
  background: #F6F6F8;
  border-radius: 11px;
  display: flex;
}

.item-next {
  margin-top: 8px ;
}

.item-img {
  width: 34.4px;
  height: 68.46px;
  margin-left: 8px;
  margin-top: 5px;
}

.small-img {
  margin: 0 auto;
}

.item-name {
  margin: 17px 0 0 11px;
  width: 95px;
  height: 31px;
}

.small-name {
  width: 95px;
  height: 14px;
  font-size: 15px;
  line-height: 10px;
  display: flex;
  align-items: flex-end;
}

.small-quantity {
  width: 88px;
  height: 11px;
  margin: 6px 0 0 0  ;
  font-size: 11px;
  line-height: 10px;
  text-align: left;
  color: #596273;
  font-family: 'Roboto-Regular';
  }

.item-quantity , .prices {
  width: 69px;
  height: 30px;
  margin: 20px 0 0 35px;
  border: 0.5px solid #818A99;
  box-sizing: border-box;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.prices {
  margin-left: 9px;
}

.del-button {
  width: 17px;
  height: 17px;
  margin: -6px 0 60px 2px;
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0); 
  transition-duration: 0.3s;
  transition-property: transform;
}

.del-button:hover {
  transform: scale(1.1);
}

.total-amount {
  width: 351px;
  height: 71px;
  border: 1px solid #BBC4CE;
  box-sizing: border-box;
  border-radius: 11px;
  margin: 22px 0 0 12px;
  display: flex;
  justify-content: space-between;
}

.total-text {
  height: 36px;
  width: 121px;
  margin: 17px 0 0 19px;
}

.text {
  font-size: 20px;
  line-height: 19px;
}

.little-text {
  font-family: 'Roboto-Italic';
  font-style: italic;
  font-size: 11px;
  line-height: 10px;
  color: #596273;
  margin-top: 6px ;
}

.total-price {
  width: 62px;
  height: 19px;
  margin: 26px 18px 0 131px;
  font-size: 20px;
  line-height: 19px;
}

.processed {
  width: 219px;
  height: 49px;
  background-color:#475062;
  border-radius: 8px;
  color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 32px auto 0; 
  font-size: 14px;
  line-height: 13px;
  font-family: 'Roboto-Regular';
}

